
@{
    ViewBag.Title = "Almost there…";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Almost there…</h2>
<p>
    We’ve sent an email to you at your address.
    Please click the link in that message to confirm your account before logging in.
</p>

